mixin imgCompare(img1,img2)
  .img-comp
    figure.img-comp__imgContainer
      img(src=`img/${img1}`, alt="alt").img-comp__image
      span.img-comp__title720p 720p
    figure.img-comp__imgContainer.img-comp-overlay
      img(src=`img/${img2}`, alt="alt").img-comp__image
      span.img-comp__title1080p 1080p

