mixin menu
  ul.menu 
    li.menu__items: a(href="#").menu__link home
    li.menu__items: a(href="#").menu__link about us
    li.menu__items: a(href="#").menu__link news
    li.menu__items: a(href="#").menu__link store
    li.menu__items: a(href="#").menu__link contact us


    



