mixin products(imgProduct,nameProduct,btnMore,link)
  .productContainer.d-flex-direction
    figure.productContainer__img-container
      img(src=`img/${imgProduct}`, alt="").productContainer__img
    .productContainer__linea.border-linea
    .productContainer__info.d-flex
      h1.productContainer__title #{nameProduct}
      a(href=`${link}`).productContainer__btn.buttonStyle #{btnMore}
  