extends pages/includes/catalogo 
append config
  -pageTitle = 'Catalogo Sense'
prepend styles
  link(rel="stylesheet", href="css/swiper.min.css")
block content
  +scrollTop
  header.header-container.container.d-flex
    figure.header-container__img-container
      img(src="img/logo-smart.png", alt="").header-container__img
    nav.header-container__navigator.d-flex
      +menu
      +menu-responsive
  section.camInfo-container.container
    +catalogoConCincoImg('sense','$ 40 dolar','Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.','wyze-sense_1.jpg','wyze-sense-contact-sensor-spec1.png','wyze-sense-contact-sensor-open1.png','wyze-sense-motion-sensor1.png','wyze-bridge1.png')
  section.specification-container
      
block script
  script(src="js/swiper.min.js")
  script(src="js/sliderCatalogo.js")
  script(src="js/menuResponsive.js")
  script(src="js/scrollTop.js")
