/* line 1, dev/scss/styles.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* line 1, dev/scss/basic/_class-basic.scss */
.container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

/* line 6, dev/scss/basic/_class-basic.scss */
.d-flex {
  display: -webkit-box;
  display: flex;
}

/* line 9, dev/scss/basic/_class-basic.scss */
.d-flex-direction {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

/* line 13, dev/scss/basic/_class-basic.scss */
.d-grid {
  display: grid;
}

/* line 16, dev/scss/basic/_class-basic.scss */
.body-container {
  overflow-x: hidden;
}

/* line 19, dev/scss/basic/_class-basic.scss */
.border-linea {
  border-bottom: 2px solid #7bb801;
  margin: .5rem 0;
}

/* line 23, dev/scss/basic/_class-basic.scss */
.buttonStyle {
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  background-color: #2c95c0;
}

/* line 32, dev/scss/basic/_class-basic.scss */
.buttonStyle:hover {
  background-color: #7bb801;
}

/* line 1, dev/scss/componentes/_menu.scss */
.menu {
  display: -webkit-box;
  display: flex;
}

/* line 3, dev/scss/componentes/_menu.scss */
.menu__items {
  margin: .5rem;
  list-style: none;
}

/* line 13, dev/scss/componentes/_menu.scss */
.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  padding: .5rem;
  color: #2c95c0;
  font-size: 1.2rem;
  font-weight: bolder;
  border-bottom: 2px solid transparent;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

/* line 22, dev/scss/componentes/_menu.scss */
.menu__link:hover {
  font-weight: bold;
  color: #7bb801;
  border-bottom: 2px solid #2c95c0;
}

/* line 1, dev/scss/componentes/_info-container.scss */
.infoContainer {
  width: 100%;
}

/* line 3, dev/scss/componentes/_info-container.scss */
.infoContainer__img, .infoContainer__information {
  width: 50%;
}

/* line 7, dev/scss/componentes/_info-container.scss */
.infoContainer__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  border: 2px solid white;
  box-shadow: 0 0 5px 2px #b3b3b3;
}

/* line 16, dev/scss/componentes/_info-container.scss */
.infoContainer__information {
  margin: 2rem 0 0 2rem;
}

/* line 19, dev/scss/componentes/_info-container.scss */
.infoContainer__title {
  text-transform: capitalize;
  padding: 1rem;
}

/* line 23, dev/scss/componentes/_info-container.scss */
.infoContainer__linea {
  width: 60%;
  margin-left: 1rem;
}

/* line 27, dev/scss/componentes/_info-container.scss */
.infoContainer__description {
  padding: 1rem 3rem 2rem 2rem;
}

/* line 30, dev/scss/componentes/_info-container.scss */
.infoContainer__btn {
  margin-left: 2rem;
  padding: .5rem 2rem;
  margin-bottom: 3rem;
}

/* line 1, dev/scss/componentes/_product.scss */
.productContainer {
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

/* line 5, dev/scss/componentes/_product.scss */
.productContainer__linea {
  width: 10%;
  margin-bottom: 2rem;
}

/* line 9, dev/scss/componentes/_product.scss */
.productContainer__img-container {
  width: 15%;
}

/* line 12, dev/scss/componentes/_product.scss */
.productContainer__img {
  width: 100%;
}

/* line 15, dev/scss/componentes/_product.scss */
.productContainer__info {
  width: 50%;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  background-color: #b3b3b3;
  border-radius: 10px;
}

/* line 22, dev/scss/componentes/_product.scss */
.productContainer__title {
  text-transform: capitalize;
  padding: 1rem 0;
  color: white;
}

/* line 27, dev/scss/componentes/_product.scss */
.productContainer__btn {
  text-decoration: none;
  padding: .5rem 2rem;
}

/* line 1, dev/scss/componentes/_mulimedia.scss */
.multimediaContainer {
  width: 100%;
}

/* line 3, dev/scss/componentes/_mulimedia.scss */
.multimediaContainer__video {
  width: 50%;
  margin-top: 10%;
  margin-left: 1rem;
  box-shadow: 0 0 5px 1px black;
}

/* line 9, dev/scss/componentes/_mulimedia.scss */
.multimediaContainer__info {
  width: 50%;
  -webkit-box-align: center;
          align-items: center;
  padding: 2rem;
}

/* line 14, dev/scss/componentes/_mulimedia.scss */
.multimediaContainer__title, .multimediaContainer__description {
  color: white;
}

/* line 18, dev/scss/componentes/_mulimedia.scss */
.multimediaContainer__title {
  text-transform: capitalize;
  margin-bottom: 2rem;
}

/* The Modal (background) */
/* line 2, dev/scss/componentes/_modal.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
/* line 16, dev/scss/componentes/_modal.scss */
.modal-content {
  position: relative;
  border: 1px solid white;
  background-color: black;
  box-shadow: 0 0 20px 2px #000001, 0 0 10px 1px #f8f6f6;
  margin: auto;
  padding: 0;
  width: 80%;
  height: 90%;
}

/* The Modal Img */
/* The Close Button */
/* line 33, dev/scss/componentes/_modal.scss */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

/* line 42, dev/scss/componentes/_modal.scss */
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* line 49, dev/scss/componentes/_modal.scss */
.mySlides {
  display: none;
}

/* line 53, dev/scss/componentes/_modal.scss */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
/* line 58, dev/scss/componentes/_modal.scss */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #2989d8;
  font-weight: bold;
  font-size: 50px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
/* line 74, dev/scss/componentes/_modal.scss */
.prev {
  left: -60px;
  border-radius: 10px 0 0 10px;
}

/* line 79, dev/scss/componentes/_modal.scss */
.next {
  right: -60px;
  border-radius: 0 10px 10px 0;
}

/* On hover, add a black background color with a little bit see-through */
/* line 86, dev/scss/componentes/_modal.scss */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
/* line 92, dev/scss/componentes/_modal.scss */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 1, dev/scss/componentes/_contact.scss */
.contactUs {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 4, dev/scss/componentes/_contact.scss */
.contactUs__title {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 2rem;
}

/* line 9, dev/scss/componentes/_contact.scss */
.contactUs__paragraph {
  padding-left: 3rem;
  margin-bottom: 2rem;
}

/* line 13, dev/scss/componentes/_contact.scss */
.contactUs__title, .contactUs__paragraph {
  color: white;
  width: 100%;
}

/* line 18, dev/scss/componentes/_contact.scss */
.contactUs__form {
  width: 100%;
}

/* line 21, dev/scss/componentes/_contact.scss */
.contactUs__txtarea {
  width: 90%;
  height: 200px;
  resize: none;
  margin: 0 2rem 1rem;
  border: 1px solid #2c95c0;
}

/* line 27, dev/scss/componentes/_contact.scss */
.contactUs__txtarea:focus {
  border: 1px solid #7bb801;
}

/* line 31, dev/scss/componentes/_contact.scss */
.contactUs__info {
  width: 100%;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

/* line 35, dev/scss/componentes/_contact.scss */
.contactUs__txtname, .contactUs__txtemail, .contactUs__telefono {
  width: 300px;
  height: 40px;
}

/* line 41, dev/scss/componentes/_contact.scss */
.contactUs__txtname, .contactUs__txtemail, .contactUs__txtarea, .contactUs__telefono {
  font-size: 1rem;
  margin: 0 3rem 2rem;
  padding: .5rem .5rem 0 1rem;
  outline: none;
  background-color: transparent;
  color: white;
}

/* line 52, dev/scss/componentes/_contact.scss */
.contactUs__txtname, .contactUs__txtemail, .contactUs__telefono {
  border: none;
  border-bottom: 2px solid #2c95c0;
}

/* line 57, dev/scss/componentes/_contact.scss */
.contactUs__txtname:focus, .contactUs__txtemail:focus, .contactUs__telefono:focus {
  border-bottom: 2px solid #7bb801;
}

/* line 61, dev/scss/componentes/_contact.scss */
.contactUs__redes {
  width: 100%;
}

/* line 64, dev/scss/componentes/_contact.scss */
.contactUs__redes-container {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

/* line 68, dev/scss/componentes/_contact.scss */
.contactUs__whatsapp, .contactUs__facebook {
  width: 30px;
}

/* line 72, dev/scss/componentes/_contact.scss */
.contactUs__numberWhatsapp, .contactUs__correoFace {
  padding-left: 1rem;
  color: white;
}

/* line 77, dev/scss/componentes/_contact.scss */
.contactUs__btn {
  align-self: flex-end;
  background-color: #2c95c0;
  padding: .5rem 2rem;
  margin: 0 4rem;
}

/* line 1, dev/scss/componentes/_menu-responsive.scss */
.menu-transform {
  display: none;
}

/* line 4, dev/scss/componentes/_menu-responsive.scss */
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background: #2c95c0;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* line 13, dev/scss/componentes/_menu-responsive.scss */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
          transform: rotate(-45deg) translate(-9px, 6px);
}

/* line 17, dev/scss/componentes/_menu-responsive.scss */
.change .bar2 {
  opacity: 0;
}

/* line 20, dev/scss/componentes/_menu-responsive.scss */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -6px);
          transform: rotate(45deg) translate(-9px, -6px);
}

/* line 23, dev/scss/componentes/_menu-responsive.scss */
.menu.active-menu {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 70px;
  display: block;
  text-align: left;
  background: #2c95c0;
}

/* line 2, dev/scss/componentes/_catalogoConCincoImg.scss */
.catalogo__infoContainer {
  -webkit-box-pack: center;
          justify-content: center;
}

/* line 5, dev/scss/componentes/_catalogoConCincoImg.scss */
.catalogo__title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: lighter;
}

/* line 10, dev/scss/componentes/_catalogoConCincoImg.scss */
.catalogo__price {
  text-transform: capitalize;
  padding: 1rem 0 0 1rem;
  color: #2c95c0;
}

/* line 15, dev/scss/componentes/_catalogoConCincoImg.scss */
.catalogo__linea {
  width: 50%;
  margin-left: 1rem;
}

/* line 19, dev/scss/componentes/_catalogoConCincoImg.scss */
.catalogo__description {
  padding: 0 3rem 2rem;
}

/* line 22, dev/scss/componentes/_catalogoConCincoImg.scss */
.catalogo__btn {
  align-self: flex-start;
  padding: .5rem 2rem;
}

/* line 26, dev/scss/componentes/_catalogoConCincoImg.scss */
.catalogo__infoContainer {
  width: 60%;
}

/* line 29, dev/scss/componentes/_catalogoConCincoImg.scss */
.catalogo__imgContainer {
  width: 40%;
}

/* line 32, dev/scss/componentes/_catalogoConCincoImg.scss */
.catalogo__figure-container, .catalogo__img {
  width: 100%;
}

/* line 1, dev/scss/componentes/_accordion.scss */
.accordion {
  width: 100%;
}

/* line 4, dev/scss/componentes/_accordion.scss */
.accordion__item {
  width: 100%;
  display: block;
  float: left;
}

/* line 9, dev/scss/componentes/_accordion.scss */
.accordion__itemHeading {
  cursor: pointer;
  margin: 0px 0px 10px 0px;
  padding: 10px;
  background: #2980b9;
  color: #fff;
  width: 100%;
  border-radius: 3px;
  text-transform: capitalize;
}

/* line 19, dev/scss/componentes/_accordion.scss */
.accordion__description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* line 24, dev/scss/componentes/_accordion.scss */
.closeAccordion .accordion__itemContent {
  height: 0;
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  float: left;
}

/* line 30, dev/scss/componentes/_accordion.scss */
.openAccordion .accordion__itemContent {
  padding: 20px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0px 0px 10px 0px;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}

/* line 40, dev/scss/componentes/_accordion.scss */
.openAccordion .accordion__itemHeading {
  margin: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #bdc3c7;
  color: #7f8c8d;
}

/* line 1, dev/scss/componentes/_imgCompare.scss */
.img-comp {
  position: relative;
  height: 300px;
  /*should be the same height as the images*/
}

/* line 4, dev/scss/componentes/_imgCompare.scss */
.img-comp__imgContainer {
  position: absolute;
  overflow: hidden;
}

/* line 8, dev/scss/componentes/_imgCompare.scss */
.img-comp__image {
  width: 800px;
  height: 300px;
  display: block;
  vertical-align: middle;
}

/* line 14, dev/scss/componentes/_imgCompare.scss */
.img-comp__title1080p, .img-comp__title720p {
  position: absolute;
  top: 10px;
  font-weight: bold;
}

/* line 20, dev/scss/componentes/_imgCompare.scss */
.img-comp__title1080p {
  left: 10px;
}

/* line 23, dev/scss/componentes/_imgCompare.scss */
.img-comp__title720p {
  right: 10px;
}

/* line 27, dev/scss/componentes/_imgCompare.scss */
.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

/* line 5, dev/scss/componentes/_cam.scss */
.camInfo-container {
  margin-bottom: 3rem;
}

/* line 8, dev/scss/componentes/_cam.scss */
.specification-container {
  margin-bottom: 3rem;
}

/* line 10, dev/scss/componentes/_cam.scss */
.specification-container__title {
  text-align: center;
  text-transform: uppercase;
  padding: 4rem 0;
  font-size: 2.5rem;
}

/* line 1, dev/scss/componentes/_scroll-top.scss */
.scroll-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
}

/* line 9, dev/scss/componentes/_scroll-top.scss */
.scroll-top__img {
  width: 100%;
  opacity: .6;
}

/* line 12, dev/scss/componentes/_scroll-top.scss */
.scroll-top__img:hover {
  opacity: 1;
}

/* line 23, dev/scss/styles.scss */
.main-wrapper {
  background-image: url("../img/wifi-grey.png");
  background-size: 40%;
  background-position: 90% -50px;
  background-repeat: no-repeat;
}

/* line 31, dev/scss/styles.scss */
.header-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* line 34, dev/scss/styles.scss */
.header-container__navigator {
  width: 80%;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
  padding-right: 3rem;
}

/* line 40, dev/scss/styles.scss */
.header-container__img-container {
  width: 20%;
}

/* line 43, dev/scss/styles.scss */
.header-container__img {
  width: 100%;
}

/* line 47, dev/scss/styles.scss */
.home-container {
  margin-bottom: 4rem;
}

/* line 50, dev/scss/styles.scss */
.smart-items {
  width: 100%;
  background-color: #efdfdf;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

/* line 56, dev/scss/styles.scss */
.smart-items__title {
  width: 100%;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  margin-bottom: 2rem;
  color: white;
  background-color: #b3b3b3;
}

/* line 67, dev/scss/styles.scss */
.moments-container {
  margin-bottom: 5rem;
}

/* line 69, dev/scss/styles.scss */
.moments-container__title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 4rem;
}

/* line 76, dev/scss/styles.scss */
.moments-container__multimedia {
  width: 100%;
}

/* line 79, dev/scss/styles.scss */
.moments-container__container-one {
  width: 40%;
}

/* line 82, dev/scss/styles.scss */
.moments-container__container-two {
  width: 60%;
}

/* line 85, dev/scss/styles.scss */
.moments-container__plug-container, .moments-container__cam-container {
  height: 50%;
}

/* line 89, dev/scss/styles.scss */
.moments-container__imgOne-container {
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

/* line 94, dev/scss/styles.scss */
.moments-container__imgOne {
  width: 60%;
}

/* line 97, dev/scss/styles.scss */
.moments-container__imgTwo-container {
  width: 100%;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

/* line 102, dev/scss/styles.scss */
.moments-container__imgTwo {
  width: 70%;
}

/* line 106, dev/scss/styles.scss */
.moments-container__imgOne, .moments-container__imgTwo {
  position: relative;
}

/* line 110, dev/scss/styles.scss */
.moments-container__play {
  background-image: url("../img/icons/play-button2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: pointer;
}

/* line 121, dev/scss/styles.scss */
.moments-container__play:hover {
  background-image: url("../img/icons/play-button.png");
}

/* line 126, dev/scss/styles.scss */
.contact-container {
  width: 100%;
}

/* line 128, dev/scss/styles.scss */
.contact-container__img {
  -webkit-box-pack: end;
          justify-content: flex-end;
  width: 50%;
  background-image: url("../img/movil-smart.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

/* line 138, dev/scss/styles.scss */
.contact-container__btnApp {
  align-self: flex-end;
  margin: 2rem;
  padding: .5rem 2rem;
}

/* line 144, dev/scss/styles.scss */
.footer-container {
  padding: 2rem 0;
}

/* line 146, dev/scss/styles.scss */
.footer-container__img-container {
  width: 40%;
}

/* line 149, dev/scss/styles.scss */
.footer-container__img {
  width: 100%;
}

/* line 152, dev/scss/styles.scss */
.footer-container__navigation {
  width: 60%;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 900px) {
  /* line 158, dev/scss/styles.scss */
  .main-wrapper {
    background: none;
  }
  /* line 161, dev/scss/styles.scss */
  .menu {
    display: none;
  }
  /* line 163, dev/scss/styles.scss */
  .menu__link {
    color: white;
    font-size: 1rem;
  }
  /* line 168, dev/scss/styles.scss */
  .menu-transform {
    display: inline-block;
  }
  /* line 171, dev/scss/styles.scss */
  .header-container {
    width: 100%;
    margin-top: 0;
  }
  /* line 174, dev/scss/styles.scss */
  .header-container__img-container, .header-container__navigator {
    width: 50%;
    padding: 1rem 2rem;
  }
  /* line 180, dev/scss/styles.scss */
  .home-container {
    width: 100%;
  }
  /* line 183, dev/scss/styles.scss */
  .infoContainer {
    width: 100%;
  }
  /* line 185, dev/scss/styles.scss */
  .infoContainer__img {
    display: none;
  }
  /* line 188, dev/scss/styles.scss */
  .infoContainer__information {
    width: 100%;
    margin: 0 1rem;
  }
  /* line 192, dev/scss/styles.scss */
  .infoContainer__btn {
    margin-bottom: 0;
  }
  /* line 196, dev/scss/styles.scss */
  .productContainer {
    width: 100%;
  }
  /* line 198, dev/scss/styles.scss */
  .productContainer__img-container {
    width: 40%;
  }
  /* line 201, dev/scss/styles.scss */
  .productContainer__info {
    width: 100%;
  }
  /* line 204, dev/scss/styles.scss */
  .productContainer__title {
    font-size: 1rem;
  }
  /* line 208, dev/scss/styles.scss */
  .moments-container {
    width: 100%;
  }
  /* line 211, dev/scss/styles.scss */
  .moments-container__container-one, .moments-container__container-two {
    width: 100%;
  }
  /* line 215, dev/scss/styles.scss */
  .moments-container__multimedia, .moments-container__cam-container, .moments-container__plug-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  /* line 221, dev/scss/styles.scss */
  .moments-container__imgOne-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 226, dev/scss/styles.scss */
  .moments-container__imgOne, .moments-container__imgTwo {
    margin-bottom: 2rem;
  }
  /* line 231, dev/scss/styles.scss */
  .multimediaContainer {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  /* line 234, dev/scss/styles.scss */
  .multimediaContainer__video {
    width: 100%;
    margin: 0;
  }
  /* line 238, dev/scss/styles.scss */
  .multimediaContainer__info {
    width: 100%;
    padding-top: 0;
  }
  /* line 242, dev/scss/styles.scss */
  .multimediaContainer__title {
    margin-bottom: 1rem;
  }
  /* line 246, dev/scss/styles.scss */
  .prev {
    left: -30px;
    padding: 0;
  }
  /* line 250, dev/scss/styles.scss */
  .next {
    right: -30px;
    padding: 0;
  }
  /* line 255, dev/scss/styles.scss */
  .close {
    top: 0;
    right: 10px;
  }
  /* line 259, dev/scss/styles.scss */
  .contact-container {
    width: 100%;
    display: inline-block;
    position: relative;
    background-image: url("../img/movil-smart.png");
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
  }
  /* line 269, dev/scss/styles.scss */
  .contact-container__img {
    display: none;
  }
  /* line 273, dev/scss/styles.scss */
  .contactUs {
    width: 100%;
  }
  /* line 275, dev/scss/styles.scss */
  .contactUs__title {
    text-align: center;
  }
  /* line 278, dev/scss/styles.scss */
  .contactUs__paragraph {
    padding: 0 2rem;
  }
  /* line 281, dev/scss/styles.scss */
  .contactUs__txtarea {
    width: 80%;
    margin: 1rem 0;
    justify-self: center;
    align-self: center;
  }
  /* line 287, dev/scss/styles.scss */
  .contactUs__info-container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
  /* line 293, dev/scss/styles.scss */
  .contactUs__info {
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
  /* line 297, dev/scss/styles.scss */
  .contactUs__txtname, .contactUs__txtemail, .contactUs__telefono {
    width: 80%;
    margin: 1rem 0;
  }
  /* line 303, dev/scss/styles.scss */
  .contactUs__btn {
    margin: 2rem 0;
    align-self: center;
  }
  /* line 307, dev/scss/styles.scss */
  .contactUs__redes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  /* line 310, dev/scss/styles.scss */
  .contactUs__redes-container {
    margin-bottom: 1rem;
  }
  /* line 314, dev/scss/styles.scss */
  .footer-container {
    width: 100%;
  }
  /* line 316, dev/scss/styles.scss */
  .footer-container__navigation {
    width: 0;
  }
  /* line 319, dev/scss/styles.scss */
  .footer-container__img-container {
    width: 100%;
    padding: 1rem 2rem;
  }
  /* line 325, dev/scss/styles.scss */
  .camInfo-container {
    width: 100%;
    margin: 0;
  }
  /* line 329, dev/scss/styles.scss */
  .catalogo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  /* line 331, dev/scss/styles.scss */
  .catalogo__infoContainer, .catalogo__imgContainer, .catalogo__description {
    width: 100%;
  }
  /* line 336, dev/scss/styles.scss */
  .catalogo__imgContainer {
    margin: 3rem 0;
  }
  /* line 339, dev/scss/styles.scss */
  .catalogo__title {
    text-align: center;
    padding: .5rem;
    font-size: 2.5rem;
  }
  /* line 344, dev/scss/styles.scss */
  .catalogo__price {
    padding-left: 2rem;
  }
  /* line 347, dev/scss/styles.scss */
  .catalogo__linea {
    margin-left: 2rem;
  }
  /* line 350, dev/scss/styles.scss */
  .catalogo__description {
    padding: 0 2rem 2rem 3rem;
  }
  /* line 353, dev/scss/styles.scss */
  .catalogo__btn {
    margin-left: 2rem;
  }
  /* line 357, dev/scss/styles.scss */
  .accordion__imgCompare-container {
    width: 100%;
  }
  /* line 361, dev/scss/styles.scss */
  .specification-container__title {
    padding: 0 .5rem 2rem;
    font-size: 2rem;
  }
  /* line 367, dev/scss/styles.scss */
  .img-comp__image {
    width: 340px;
    height: 300px;
    display: block;
    vertical-align: middle;
  }
}
