.accordion{
  width: 100%;
  margin: 0 2rem;
  &__item{
    width: 100%;
    display: block;
    float: left;
  }
  &__itemHeading{
    cursor: pointer;
    margin:0px 0px 10px 0px;
    padding:10px;
    background:#2980b9;
    color:#fff;
    width:100%;
    border-radius: 3px;
    text-transform: capitalize;
  }
}
.closeAccordion .accordion__itemContent{
  height:0;
  transition:height 1s ease-out;
  transform: scaleY(0);
  float:left;
}
.openAccordion .accordion__itemContent{
  padding: 20px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0px 0px 10px 0px;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
}
.openAccordion .accordion__itemHeading{
  margin:0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #bdc3c7;
  color: #7f8c8d;
}

