@import "componentes/catalogoConCincoImg";
@import "componentes/accordion";
@import "componentes/imgCompare";

.camInfo-container{
  margin-bottom: 3rem;
}
.specification-container{
  margin-bottom: 3rem;
  &__title{
    text-align: center;
    text-transform: uppercase;
    padding: 4rem 0;
    font-size: 2.5rem;
  }
}