.infoContainer{
  width: 100%;
  &__img,
  &__information{
    width: 50%;
  }
  &__img{
   background: {
     size: cover;
     repeat:no-repeat;
     position: 0 center;
   };
   border: 2px solid white;
   box-shadow: 0 0 5px 2px map-get($color-pages, tertiary);
   }
  &__information{
    margin: 2rem 0 0 2rem;
  }
  &__title{
    text-transform: capitalize;
    padding: 1rem;
  }
  &__linea{
    width: 60%;
    margin-left: 1rem;
  }
  &__description{
    padding: 1rem 3rem 2rem 2rem;
  }
  &__btn{
    margin-left: 2rem;
    padding: .5rem 2rem;
    margin-bottom: 3rem;
  }
}